@import "variables";

@mixin btn-pink {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  color: #fff;
  background-color: #e52e6b;
  border-radius: 4px;
  border: 1px solid #e52e6b;
  transition: background-color 0.2s ease;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;

  &:hover {
    background-color: $bg-pink-hover;
  }

  &:active {
    background-color: $bg-pink-active;
  }
}

.form-container {
  display: flex;
  justify-content: space-between;

  & .form-img {
    @media (max-width: 1080px) {
      display: none;
    }
  }

  & .form-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 424px;

    @media (max-width: 500px) {
      width: 100%;
    }

    & h3 {
      font-size: 22px;
      line-height: 30px;
      font-weight: 700;
    }

    & p {
      text-align: center;
      margin: 12px auto 0;
      max-width: 320px;
      font-size: 14px;
      line-height: 20px;
    }

    & .form {
      display: flex;
      flex-direction: column;
      padding-top: 30px;
      justify-content: center;
      align-items: center;
      width: 100%;

      &__inp {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 20px 0 10px;
        //padding-bottom: 16px;

        & span {
          font-size: 13px;
          line-height: 18px;
          color: #b4b5b8;
        }

        & input {
          width: 100%;
          border: 1px solid $border-filter-color;
          padding: 9px 12px 11px;
          border-radius: 2px;
          outline: none;
          font-size: 14px;
          line-height: 20px;
        }

        & .input-invalid {
          font-size: 11px;
          line-height: 16px;
          color: #bd0b26;
          visibility: hidden;

        }

        & .invalid-name {
          &.invalid {
            visibility: visible;
          }
        }

        & .invalid-tel {
          &.invalid {
            visibility: visible;
          }
        }
      }

      &__order {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        margin-top: 30px;
        border-top: 1px solid $border-filter-color;
        padding-top: 30px;

        &-sum {

          & p {
            font-size: 20px;
            line-height: 28px;
            font-weight: 700;
            text-align: left;

            & span {
              font-size: 16px;
              line-height: 22px;
              color: $text-color;
            }
          }

          & span {
            font-size: 12px;
            line-height: 18px;
            color: #b4b5b8;
            text-align: left;
          }

        }

        &-btn {
          @include btn-pink;
          width: 180px;
          height: 48px;

          @media (max-width: 500px) {
            height: 40px;
          }
        }
      }
    }
  }

}