@import "variables";

@mixin flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  flex: 1;

  @media (max-width: 770px) {
    padding-top: 70px;
  }

  //menu
  &__nav {
    @include flex-start;

    & .nav__list {
      @include flex-start;
      gap: 5px;

      & .nav__item {
        list-style: none;
        height: 34px;

        & .nav__link {
          padding: 8px 16px;
          box-sizing: border-box;
          border-radius: 80px;
          border: 1px solid $border-color;
          color: inherit;
          transition: border .2s ease, color .2s ease;
          text-decoration: none;
          font-size: 14px;
          line-height: 34px;

          &.nav__link:hover {
            border-color: $blue-color;
            color: $blue-color;
          }

        }

        & .active {
          background: $bg-active-link;
          border-color: $bg-active-link;
          color: $blue-color;
          pointer-events: none;
        }
      }
    }
  }

  // cards

  & .cards {

    @include flex-start;
    gap: 36px;
    margin-top: 20px;
    padding-right: 16px;
    border-right: 1px solid #e6e8eb;

    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 16px;

      & .card {
        max-width: 208px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        padding: 16px;
        //border: 1px solid #e6e8eb;
        background: #fff;
        border-radius: 10px;

        &__img {
          width: 100%;
          height: 156px;
          @include flex-start;
        }

        &__img img {
          width: 100%;
        }

        &__price {
          font-size: 18px;
          line-height: 26px;
          font-weight: 700;
        }

        &__name {
          text-decoration: none;
          color: inherit;

          & span {
            font-size: 14px;
            line-height: 20px;
            color: inherit;
            transition: color .2s ease;
          }

          & span:hover {
            color: $bg-color-pink;
          }
        }
      }

      & .btn-basket {
        width: 100%;
        height: 40px;
        border-radius: 4px;
        background: $bg-color-pink;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: none;
        transition: background .2s ease;

        &:hover {
          background: $bg-color-pink-hover;
          cursor: pointer;
        }

        & .btn-basket__img {
          width: 16px;
          height: 16px;
        }

        & .btn-basket__text {
          color: $text-color-white;
          font-size: 13px;
          font-weight: 700;
        }
      }
    }

    &__filters {

    }
  }
}
