@import "variables";

@mixin btn-style {
  height: 48px;
  padding: 0 24px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  transition: all .2s ease;

  @media (max-width: 580px) {
    height: 40px;
  }
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(000, 000, 000, .4);
  align-items: flex-start;
  justify-content: center;
  font-family: sans-serif;

  &.hidden-modal {
    display: flex;
  }

  &__delete {
    width: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 120px;
    padding: 40px 16px 16px;

    @media (max-width: 580px) {
      width: 90%;
    }

    &-title {
      font-size: 18px;
      line-height: 26px;
      font-weight: 700;
      margin-bottom: 8px;

      @media (max-width: 580px) {
        font-size: 16px;
        line-height: 22px;
      }
    }

    &-text {
      font-size: 14px;
      line-height: 20px;

      @media (max-width: 580px) {
        font-size: 12px;
        line-height: 18px;
      }
    }

    &-btn {
      display: flex;
      gap: 10px;
      justify-content: center;
      margin-top: 30px;

      .btn-cancellation {
        @include btn-style;
        border: 1px solid $border-filter-color;
        background-color: inherit;

        &:hover {
          cursor: pointer;
          background-color: #f7f8fa;
        }

        &:active {
          background-color: $border-filter-color;
        }
      }

      .btn-delete {
        @include btn-style;
        background-color: $bg-color-pink;
        color: #fff;
        border: none;

        &:hover {
          cursor: pointer;
          background-color: $bg-pink-hover;
        }

        &:active {
          cursor: pointer;
          background-color: $bg-pink-active;
        }
      }
    }
  }
}

.modal_comment {
  display: none;
  z-index: 999;

  .modal-container {
    width: 480px;
    padding: 24px;
    background-color: $bg-page;
    border-radius: 10px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 500px) {
      width: 95%;
    }

    & .modal-comment-close {
      width: 16px;
      height: 16px;
      opacity: 1;
      transition: opacity .2s ease;
      position: absolute;
      top: 15px;
      right: 15px;

      &:hover {
        cursor: pointer;
        opacity: .7;
      }

      & img {
        width: 100%;
      }
    }

    & .form-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 424px;

      @media (max-width: 500px) {
        width: 100%;
      }

      & h3 {
        font-size: 22px;
        line-height: 30px;
        font-weight: 700;
      }

      & p {
        text-align: center;
        margin: 12px auto 0;
        max-width: 320px;
        font-size: 14px;
        line-height: 20px;
      }

      & .form {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        justify-content: center;
        align-items: center;
        width: 100%;
        //gap: 20px;

        .textarea__inp {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;


          & span {
            font-size: 13px;
            line-height: 18px;
            color: #b4b5b8;
          }

          & .textarea-block__inp {
            all: unset;
            display: block;
            width: 94%;
            height: 40px;
            border: 1px solid $border-filter-color;
            padding: 9px 12px 11px;
            border-radius: 2px;
            outline: none;
            font-size: 14px;
            line-height: 20px;

            margin: 20px 0 10px;
            min-height: 40px;
            max-height: 176px;
            box-shadow: none;
            transition: background-color .3s;

            overscroll-behavior: none;

            white-space: pre-wrap;
            overflow: auto;
            resize: none;
          }

          & .input-invalid {
            font-size: 11px;
            line-height: 16px;
            color: #bd0b26;
            visibility: hidden;

          }

          & .invalid-name {
            &.invalid {
              visibility: visible;
            }
          }

          & .invalid-tel {
            &.invalid {
              visibility: visible;
            }
          }
        }

        &__comment {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          width: 100%;
          margin-top: 30px;
          border-top: 1px solid $border-filter-color;
          padding-top: 30px;

          &-btn {
            @include btn-pink;
            width: 100%;
            height: 48px;

            @media (max-width: 500px) {
              height: 40px;
            }
          }
        }
      }
    }
  }

  .hidden-modal {
    display: flex;
  }
}