$bg-page: #f7f8fa;
$bg-color-pink: #e52e6b;
$bg-pink-hover: #cc215a;
$bg-color-pink-hover: #fdeef3;
$bg-color-pink-active: #fbdee7;
$bg-color-blue-hover: #d6e9f7;
$bg-color-blue-active: #bad8ef;;
$bg-active-link: #d6e9f7;
$bg-btn-hover-pink: #fbdee7;

$text-color: #1a1a1a;
$text-color-white: #fff;
$border-color: #dcdde0;
$border-filter-color: #e6e8eb;
$header-basket-bg-color-hover: #fff;
$header-basket-br-color-hover: #fff;
$blue-color: #0072bc;

$gradient-button: linear-gradient(to bottom, #025A68, #009F8A);
$gradient-button-hover: linear-gradient(to bottom, #01847F, #03D78D);
$box-shadow: -8px 8px 6px 3px rgba(0, 0, 0, 0.25);


:export {
  gradientButton: $gradient-button;
}

//:export {
//  greenColor: $light-green-color;
//}


:export {
  hoverColorRest: $gradient-button-hover;
}